<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetdevmobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/master"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetDevMobile">
        <activity
            android:name=".les_intents"
            android:exported="false" />
        <activity
            android:name=".rate"
            android:exported="false" />
        <activity
            android:name=".rechercher"
            android:exported="false" />
        <activity
            android:name=".resBrik"
            android:exported="false" />
        <activity
            android:name=".resTajin"
            android:exported="false" />
        <activity
            android:name=".resRiz"
            android:exported="false" />
        <activity
            android:name=".spaguetti"
            android:exported="false" />
        <activity
            android:name=".resLoubia"
            android:exported="false" />
        <activity
            android:name=".resEjja"
            android:exported="false" />
        <activity
            android:name=".resCous"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>